name: MLflow CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest
    
    env:
      MLFLOW_TRACKING_URI: ./mlruns

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    
    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'
        cache: 'pip'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        # Pastikan semua library yang ada di modelling.py terinstall di sini
        pip install pandas numpy scikit-learn mlflow matplotlib seaborn

    - name: Run MLflow Project
      run: |
        # Menjalankan proyek dengan manager lokal agar menggunakan library yang diinstall di atas
        mlflow run MLProject --env-manager local --experiment-name "Bike-Price-CI"

    - name: Get MLflow Run Details
      if: always()
      run: |
        echo "Menampilkan daftar hasil eksperimen:"
        ls -R mlruns/

    - name: Upload MLflow artifacts
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: bike-model-experiment-results
        path: mlruns/
        retention-days: 7
