name: MLflow CI Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest
    
    steps:
    - name: Run actions/checkout@v3
      uses: actions/checkout@v3
    
    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'
    
    - name: Check Env
      run: |
        python --version
        ls -R
    
    - name: Install dependencies
      run: |
        pip install pandas numpy scikit-learn mlflow matplotlib seaborn
    
    - name: Set MLflow Tracking URI
      run: |
        echo "MLFLOW_TRACKING_URI=file://$(pwd)/mlruns" >> $GITHUB_ENV

    - name: Run mlflow project
      run: |
        mlflow run MLProject --env-manager local --experiment-name "bike-prediction-project"

    - name: Upload MLflow artifacts
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-model-results
        path: mlruns/
        retention-days: 7
